#include <iostream>
#include <fstream>
using namespace std;
void num_of_word(string word)
{
   int res1=0;
  for(int i=0;i<word.size();i++)
 {
     if (word[i]==' '&&i!=0&&word[i-1]!=' '){res1++;}
 }
 cout<<"the number of words is: "<<res1 ;

}
void search_for_a_word(string word_search)
{   fstream file;
    string name;
     int res2=0;

     file.open("file.txt", ios::in);
      while(!file.eof())
     {
         file >> name;
          if(word_search==name){res2++;}
     }
     if (res2==0)
     {
        cout<<"Word is not found in the file ~_~";
     }
     else
     {
         cout<<"Word is found in the file ^_^ "<<res2<<" times";
     }

     file.close();
}

void delete_data_from_file()
{   fstream file;
    file.open("file.txt", ios::out);
    file.open("file.txt", ios::in);
}


int main()
{
  fstream file("file.txt");
  string word;
  string word_search;
  int choose;

  if (file.fail())
    {
        cout << "File open error!" << endl;
    }
cout<<"if you want to know the number of words in the file enter :1\nif you want to search for a word enter :2\nif you want to delete the content of the file enter :3\n=>";
cin>>choose;

if(choose==1)
{
    getline(file,word);
    num_of_word(word);
    file.close();
}
if (choose==2)
{
   cout<<"enter the word that you want to search for\n=>";
   cin>>word_search;
   search_for_a_word(word_search);
}
if(choose==3)
{
    delete_data_from_file();
    cout<<"the file was deleted successfully. ";
}

    return 0;
}
